* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: black;
  width: 80%;
  height: 90%;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  position: relative;
}

.inner-container {
  background: url("./images/gtr-color.jpg");
  width: 99.5%;
  height: 99.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  width: inherit;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: start;
  align-items: center;
}

.footer-icons {
  display: flex;
  width: 80%;
}

.footer-extras {
  display: flex;
  width: 20%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.footer-extras img {
  cursor: pointer;
}
.footer .footer-extras img:nth-child(1) {
  height: 20px;
  margin-left: 10px;
}
.footer .footer-extras img:nth-child(2) {
  height: 25px;
  margin-left: 10px;
}

.footer .footer-extras h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-right: 10px;
  margin-left: 5px;
}
.footer .footer-icons img {
  height: 30px;
  margin-right: 15px;
  cursor: pointer;
}

.boosting-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.boosting-inner img {
  width: 50px;
  cursor: pointer;
  margin-bottom: 10px;
}

.modal {
  position: absolute;
  height: 80%;
  width: 90%;
  background-color: black;
  z-index: 1;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.modal-inner {
  border: 2px solid grey;
  border-radius: 20px;
}

.modal-info {
  border: 1px solid pink;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-info progress {
  width: 50%;
}

.modal-info button {
  font-family: "Arial", Helvetica, sans-serif;
  padding: 10px;
  border: none;
  outline: none;
  color: black;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.modal-info button:hover {
  cursor: pointer;
  background-color: #526067;
  color: white;
}

.modal-info progress::after {
  content: attr(data-min);
  color: white;
  position: relative;
  right: -100%;
  font-family: "Courier New", Courier, monospace;
}

.modal-info progress::before {
  content: attr(data-max);
  color: white;
  position: relative;
  right: 4%;
  font-family: "Courier New", Courier, monospace;
}
.modal-contracts {
  display: flex;
  width: 100%;
  height: 100%;
}

.modal-inner {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
}

.modal-inner .expire-time {
  color: red;
}

.modal-inner button {
  padding: 10px;
  border: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
  font-size: 15px;
  color: white;
  width: 200px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.modal-inner .modal-inner-boostclass {
  border-radius: 50%;
  border: 2px solid cyan;
  padding: 20px;
  background-color: grey;
}

.modal-inner button:hover {
  background-color: cyan;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-container h1 {
  color: white;
  font-family: monospace;
  font-size: 15px;
  margin-bottom: 30px;
}
